* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  height: 100vh;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.selectionButton {
  color: blue;
  padding: 10px;
}

.gameWinner {
  text-align: center;
}